<a href="https://colab.research.google.com/github/fyodiya/BMP/blob/master/WoTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
greeting = "Hello!"
print(greeting) #comment - there are no ; at the end of the lines

data = 14
print(data)

#code is being read from top to bottom

this_is_a_variable = "we use so called snake case"
print(this_is_a_variable)

#Python is object-based and object-oriented
#everything we define is AN OBJECT

Hello!
14
we use so called snake case

In [18]:
name = "Elina"
surname = "Fjodorova"
age = 32
occupation = "metrologist"
university_graduate = True
height = 1.67
#basic data types

print(name, surname, age, occupation, university_graduate, height)
#output: Elina Fjodorova 32 metrologist True 1.67

print(f"Full name:{name} {surname}\nOccupation: {occupation}\nUniversity degree: {university_graduate}")
#f = formatted
#output - each var on a new line

Elina Fjodorova 32 metrologist True 1.67
Full name:Elina Fjodorova
Occupation: metrologist
University degree: True

In [22]:
guest_1 = "Anna"
guest_2 = "Jennifer"
guest_3 = "Elza" #'Elza'

print(guest_1, guest_2, guest_3) #output: Anna Jennifer Elza

guests = ["John", "Mike", "James", "Oliver"]
print(guests) #output: ['John', 'Mike', 'James', 'Oliver']

for guest in guests:
  print(guest)
  #output:  John
#           Mike
#           James
#           Oliver

Anna Jennifer Elza
['John', 'Mike', 'James', 'Oliver']
John
Mike
James
Oliver

In [6]:
name = "trees "*12 #string var
#print(name, end="") defining end of string
print(name)

trees trees trees trees trees trees trees trees trees trees trees trees

In [23]:
name = input("Please enter your name: ")
text = ""
print(f'Hello, {name}! I would like to read the book 'Hamlet' ')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-23-cc444b952bb5>, line 3)

In [13]:
#requesting user input

name = input("Please enter your name: ")
print(f"Hello, {name}! Nice to meet you")
#another option
print("Hello, ", name,"nice to meet you!")

Please enter your name: el
Hello, el! Nice to meet you
Hello,  el nice to meet you!

In [3]:
name = "Anna"
surname = "Johnson"
print("Hello,", name, "!")
print(f"Hello, Anna!") #hardcoding - a bad practice of coding
print(f"Hello, {name}!")
print(f'{name} wants to read "Hamlet".')

Hello, Anna !
Hello, Anna!
Hello, Anna!
Anna wants to read "Hamlet".

In [4]:
#the data type is set when you assign a value to a variable
x = 1j #complex
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "John", "age" : 36} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozen set
x = b"Hello" #bytes
x = None #none type

#you can specify the data type
x = str("Hello World")
x = dict(name="John", age=36)